/*CSS INICIAL DA PAGINA, DEPOIS PODERÁ SER COLOCADO EM UM GLOBAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


.container{
    width: 100%;
    padding: 0;
    margin: 0;
}
.container-content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 80px;
    padding-right: 30px;
}


/* AQUI COMEÇA O CSS DO CONTEÚDO DO SITE, ALGUMAS PARTE IRAM SAIR COMO FRAGMENTOS, ENTÃO
ALGUMA PARTE DO CSS VAI MUDAR DE LOCAL*/


.content-main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 80px;

    
}

/*ESSA PARTE JÁ DAR PARA VIRAR UM FRAGMENTO, ENTÃO ESSE CSS VAI JUNTO*/
.product-showcase-list{
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 400px;
}

.product-showcase-list .imagem-product-list{
    width: 100%;
    height: 190px;
}

.product-showcase-list .name-product-list{
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    
}

.product-showcase-list .value-product-list{
    font-weight: bold;
    font-size: 15px;
    color: rgb(66, 64, 64);
    margin-top: 10px;
}

