*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-content-redefine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.content-main-redefine{
    width: 400px;
    border: 0px solid rgba(255,255,255);
}

.area-input-email{
    
}

.button-redefine{
    border: none;
    height: 35px;
    background-color:#eb665f;
    color: #FFF;
    font-size: 17px;
    margin-top: 10px;
}

.input-redefine{
    border: 0.5px solid rgb(216, 209, 209);
    height: 35px;
    margin-bottom: 20px;
    padding: 5px;
    color: rgb(71, 68, 68);
    font-weight: 600;
    display: block;
}